pydantic>=1.8.2
fastapi>=0.65.2
git+git://github.com/AntelopeLCA/core@virtualize#egg=antelope_core
git+git://github.com/AntelopeLCA/antelope@virtualize#egg=antelope_interface
git+git://github.com/AntelopeLCA/background@master#egg=antelope_background
